html {
  --c-border: 1px solid currentColor;
  --w-border: 1px solid var(--white);
  --l-border: 1px solid var(--light);
  --a-border: 1px solid var(--accent);
  --d-border: 1px solid var(--dark);
  --b-border: 1px solid var(--black);
  --clear: transparent;
  --trans: all 0.3s ease;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  scroll-padding-top: 10vh!important;
}
/*Site Background Color*/
body {
  background-color: var(--body-background) !important;
}
/*Hero Section*/
.hero-wrap {
  position: relative;
  text-align: center!important;
}
.char {
  overflow: visible!important;
}
/*Reduce Paragraph mobile*/
@media screen and (max-width: 767px) {
  p:not(.sqsrte-small, .sqsrte-large) {
    font-size: 0.95em;
  }
}
/*MEGA*/
h1 strong,
h2 strong,
h3 strong,
h4 strong {
  font-weight: inherit!important;
  line-height: 0.85 !important;
  font-size: var(--mega-font-size) !important;
  letter-spacing: -0.03em !important;
}
@media screen and (max-width: 767px) {
  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong {
    font-size: var(--mega-font-size-mobile) !important;
  }
}
/*H3*/
h3 {
  margin-bottom: 15px!important;
  margin-top: 20px!important;
}
/*H2 MOBILE*/
@media screen and (max-width: 800px) {
  h2 {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0;
  }
  .sqsrte-small {
    font-size: 11px;
  }
}
/*Small P Italic (Small Uppercase)*/
.sqsrte-small em {
  font-size: 0.85em;
  font-weight: 500!important;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-style: normal;
}
/*Not in Footer*/
footer .sqsrte-small em {
  font-size: unset;
  letter-spacing: unset;
  text-transform: unset;
  font-style: unset;
}
/*Large Paragraph Italic*/
.sqsrte-large strong {
  font-weight: 500!important;
  font-size: 1.4em;
  line-height: 1.45;
  font-style: normal!important;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 800px) {
  .sqsrte-large strong {
    font-size: 1.1em;
    letter-spacing: 0.02em;
  }
}
/*Add Underline on Hover*/
p a:hover {
  text-decoration: underline!important;
  text-decoration-thickness: 1px!important;
  text-underline-offset: 5px!important;
}
/*Remove Default Link Underline*/
.sqs-block-html a,
.image-title-wrapper a,
.image-subtitle-wrapper a,
.sqs-image-caption a,
.image-caption a,
.sqs-block-newsletter a,
.list-item-content__description a,
.list-section-title a,
.header .header-nav-wrapper a {
  text-decoration-line: none!important;
}
/*Link BOLD (Visible Arrow)*/
p a strong {
  line-height: 1.5 !important;
  position: relative;
  font-style: normal;
  font-weight: 500;
}
h3 a strong {
  font-style: normal!important;
}
@media screen and (min-width: 767px) {
  p a strong:after,
  h3 a strong:after {
    font-family: var(--inter) !important;
    content: "→";
    padding-left: 2px;
    position: absolute;
    font-weight: 500!important;
    transition: var(--trans);
    font-weight: 500;
  }
  p a strong:hover:after,
  h3 a strong:hover:after {
    padding-left: 6px;
  }
}
/*Link ITALIC (Arrow on Hover)*/
p a em {
  line-height: 1.8 !important;
  position: relative;
  font-style: normal;
  font-weight: 400!important;
}
h3 a em {
  font-style: normal!important;
}
@media screen and (min-width: 767px) {
  p a em:after,
  h3 a em:after {
    font-family: var(--inter) !important;
    content: "→";
    margin-left: 0px!important;
    font-weight: 400!important;
    position: absolute;
    opacity: 0;
    transition: var(--trans);
    font-weight: 500;
  }
  p a em:hover:after,
  h3 a em:hover:after {
    opacity: 1;
    margin-right: 30px;
    padding-left: 4px!important;
  }
}
/*Scaled Text P*/
.sqsrte-scaled-text p {
  margin-left: -14px !important;
  line-height: 1.25 !important;
}
/*Remove underline from active*/
.header-nav-item--active a,
body:not(.header--menu-open) .header-nav-folder-item--active .header-nav-folder-item-content,
:is([aria-current="page"], [aria-current="true"]) .header-menu-nav-item-content {
  background-image: none!important;
  text-decoration: none!important;
  background: none!important;
}
/*Mobile Nav Menu Item*/
.header-menu-nav-item a {
  font-size: var(--mobile-nav-size);
  letter-spacing: -0.015em !important;
  font-weight: var(--mobile-nav-weight) !important;
  margin: 0px;
  letter-spacing: 0em;
}
/*Mobile Nav Wraper*/
.header-menu-nav-wrapper {
  position: static!important;
  display: flex;
  flex-direction: column;
  gap: var(--mobile-nav-gap);
}
/*Match main nav to folder*/
.header-menu-nav-folder-content {
  display: flex!important;
  flex-direction: column!important;
  gap: var(--mobile-nav-gap);
  padding: var(--sqs-mobile-site-gutter);
}
/*Mobile Nav Content*/
.header-menu-nav-folder-content {
  position: relative!important;
  justify-content: center!important;
}
/*Mobile Nav Menu Item*/
.header-menu-nav-item {
  padding: unset;
  width: fit-content !important;
}
.header-menu-nav-item a {
  width: fit-content !important;
}
/*Add Margin to "Back" Mobile*/
.header-menu-controls-control--active {
  margin-bottom: 20px!important;
}
/*Mobile Menu Button*/
.header-menu-cta a {
  font-weight: var(--mobile-nav-weight) !important;
  font-family: var(--inter), var(--body), sans-serif !important;
  font-feature-settings: var(--inter-features);
  font-size: 1rem!important;
  padding: 14px!important;
  border: 1px solid var(--menuOverlayButtonBackgroundColor) !important;
}
.tweak-global-animations-animation-type-flex .header-menu-cta a:before {
  border: none!important;
  border-radius: unset!important;
}
/*Mobile Nav Chevron*/
.chevron {
  border-top: 1.5px solid currentColor;
  border-right: 1.5px solid currentColor;
  height: 8px!important;
  width: 8px!important;
}
.chevron.chevron--right {
  margin-left: 4px;
}
.chevron.chevron--left {
  margin-right: 4px;
  margin-left: -6px;
}
/*Core Button Structure*/
.sqs-block-button-element--small,
.sqs-block-button-element--medium,
.sqs-block-button-element--large,
.header-actions .btn,
.header-menu-cta a,
button[type="submit"],
.lightbox-handle.sqs-button-element--primary {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  white-space: nowrap!important;
  transition: var(--trans) !important;
}
/*Button Arrows*/
.sqs-button-element--primary:after,
.sqs-button-element--secondary:after,
.header-actions .btn:after,
.header-menu .header-menu-cta a:after,
.newsletter-form .newsletter-form-button:after,
button[type="submit"]:after,
.lightbox-handle.sqs-button-element--primary:after {
  content: "→";
  font-family: var(--inter);
  font-weight: 400;
  line-height: 0!important;
  margin-left: 4px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
/*Buttons Arrow Rotate on Hover*/
.sqs-block-button-container--left:hover .sqs-block-button-element--small:after,
.sqs-block-button-container--right:hover .sqs-block-button-element--small:after,
.sqs-block-button-container--center:hover .sqs-block-button-element--small:after,
.header-actions-action--cta:hover .sqs-block-button-element--small:after,
.newsletter-form-button-wrapper:hover .sqs-block-button-element--small:after,
.form-button-wrapper:hover .sqs-block-button-element--small:after,
.lightbox-handle-wrapper:hover .sqs-block-button-element--small:after,
.sqs-block-button-container--left:hover .sqs-block-button-element--medium:after,
.sqs-block-button-container--right:hover .sqs-block-button-element--medium:after,
.sqs-block-button-container--center:hover .sqs-block-button-element--medium:after,
.header-actions-action--cta:hover .sqs-block-button-element--medium:after,
.newsletter-form-button-wrapper:hover .sqs-block-button-element--medium:after,
.form-button-wrapper:hover .sqs-block-button-element--medium:after,
.lightbox-handle-wrapper:hover .sqs-block-button-element--medium:after,
.sqs-block-button-container--left:hover .sqs-block-button-element--large:after,
.sqs-block-button-container--right:hover .sqs-block-button-element--large:after,
.sqs-block-button-container--center:hover .sqs-block-button-element--large:after,
.header-actions-action--cta:hover .sqs-block-button-element--large:after,
.newsletter-form-button-wrapper:hover .sqs-block-button-element--large:after,
.form-button-wrapper:hover .sqs-block-button-element--large:after,
.lightbox-handle-wrapper:hover .sqs-block-button-element--large:after,
.sqs-block-button-container--left:hover .btn:after,
.sqs-block-button-container--right:hover .btn:after,
.sqs-block-button-container--center:hover .btn:after,
.header-actions-action--cta:hover .btn:after,
.newsletter-form-button-wrapper:hover .btn:after,
.form-button-wrapper:hover .btn:after,
.lightbox-handle-wrapper:hover .btn:after,
.sqs-block-button-container--left:hover .newsletter-form-button:after,
.sqs-block-button-container--right:hover .newsletter-form-button:after,
.sqs-block-button-container--center:hover .newsletter-form-button:after,
.header-actions-action--cta:hover .newsletter-form-button:after,
.newsletter-form-button-wrapper:hover .newsletter-form-button:after,
.form-button-wrapper:hover .newsletter-form-button:after,
.lightbox-handle-wrapper:hover .newsletter-form-button:after,
.sqs-block-button-container--left:hover button[type="submit"]:after,
.sqs-block-button-container--right:hover button[type="submit"]:after,
.sqs-block-button-container--center:hover button[type="submit"]:after,
.header-actions-action--cta:hover button[type="submit"]:after,
.newsletter-form-button-wrapper:hover button[type="submit"]:after,
.form-button-wrapper:hover button[type="submit"]:after,
.lightbox-handle-wrapper:hover button[type="submit"]:after,
.sqs-block-button-container--left:hover .lightbox-handle.sqs-button-element--primary:After,
.sqs-block-button-container--right:hover .lightbox-handle.sqs-button-element--primary:After,
.sqs-block-button-container--center:hover .lightbox-handle.sqs-button-element--primary:After,
.header-actions-action--cta:hover .lightbox-handle.sqs-button-element--primary:After,
.newsletter-form-button-wrapper:hover .lightbox-handle.sqs-button-element--primary:After,
.form-button-wrapper:hover .lightbox-handle.sqs-button-element--primary:After,
.lightbox-handle-wrapper:hover .lightbox-handle.sqs-button-element--primary:After {
  transform: rotate(180deg) !important;
  transition: transform 0.3s ease;
}
/*Header Buttons*/
.header-actions .btn,
.header-menu .header-menu-cta a {
  align-items: center;
  justify-content: center;
}
/*Secondary Main*/
.sqs-button-element--secondary {
  background: transparent!important;
  font-family: var(--inter) !important;
  font-feature-settings: var(--inter-features);
}
/*Left, Right, Center Wraps*/
.sqs-block-button-container--left,
.sqs-block-button-container--center,
.sqs-block-button-container--right,
.header-actions-action--cta,
.newsletter-form-button-wrapper a {
  border-radius: var(--button-radius) !important;
}
/*Left Button*/
.sqs-block-button-container--left {
  width: fit-content !important;
  margin-right: auto!important;
}
/*Center Button*/
.sqs-block-button-container--center {
  width: fit-content !important;
  margin: 0 auto!important;
}
/*Right Button*/
.sqs-block-button-container--right {
  width: fit-content !important;
  margin-left: auto!important;
}
/*Tertiary Button*/
.sqs-button-element--tertiary:not([type='submit']),
.sqs-button-element--tertiary:not([type='submit']):before,
.lightbox-handle.sqs-system-button.sqs-button-element--tertiary,
.lightbox-handle.sqs-system-button.sqs-button-element--tertiary:before {
  border-radius: 500px!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  text-align: center!important;
  padding: unset!important;
  width: 165px!important;
  height: 165px!important;
}
/*Grid Slide*/
.sqs-gallery-aspect-ratio-widescreen.sqs-gallery-block-grid .slide {
  padding: 30px 0px;
  box-shadow: inset 0 0 0 0.5px var(--tweak-line-block-line-color) !important;
  transition: var(--trans) !important;
}
/*Gallery Logo*/
.sqs-gallery-aspect-ratio-widescreen.sqs-gallery-block-grid .sqs-gallery img {
  transform: scale(0.4) !important;
}
@media screen and (max-width: 767px) {
  .sqs-gallery-aspect-ratio-widescreen.sqs-gallery-block-grid .sqs-gallery img {
    transform: scale(1) !important;
    max-width: 70px;
    object-fit: contain;
  }
}
/*Grid Outline*/
.sqs-gallery-aspect-ratio-widescreen.sqs-gallery-block-grid {
  box-shadow: 0 0 0 0.5px var(--tweak-line-block-line-color) !important;
}
/*Mobile Grid*/
@media screen and (max-width: 767px) {
  .sqs-gallery-aspect-ratio-widescreen.slide.sqs-gallery-design-grid-slide {
    width: 33.333% !important;
  }
  /*Image Centering*/
  img {
    left: unset!important;
  }
  /*Grid Item Spacing*/
  .sqs-gallery-aspect-ratio-widescreen.sqs-gallery-block-grid .slide .margin-wrapper a.image-slide-anchor {
    padding: 20px 0px!important;
    margin: 0px!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
  }
  /*Mobile Image Placement*/
  .sqs-gallery-aspect-ratio-widescreen.thumb-image {
    top: unset!important;
    left: unset!important;
  }
}
/*Pinned Transition Fix*/
.sqs-position-sticky {
  transition: unset!important;
}
/*Field Title*/
.sqs-block-form .field-list .title {
  position: relative!important;
  width: fit-content !important;
}
/*Field Text / Focus Adjustment*/
.sqs-block-form input,
.sqs-block-form select,
.sqs-block-form textarea,
.sqs-block-form radio,
.sqs-block-form checkbox,
.sqs-block-form .caption-text {
  transition: var(--trans) !important;
  outline-offset: 3px!important;
  outline: 1px solid transparent;
  font-weight: 500!important;
}
.sqs-block-form input:focus,
.sqs-block-form select:focus,
.sqs-block-form textarea:focus,
.sqs-block-form radio:focus,
.sqs-block-form checkbox:focus,
.sqs-block-form .caption-text:focus {
  outline: 1px solid var(--tweak-form-block-stroke-color);
}
.sqs-block-form ::placeholder,
.sqs-block-form select.show-placeholder,
.sqs-block-form .form-input-prefix {
  color: var(--tweak-form-block-stroke-color) !important;
  opacity: 1!important;
}
/*Replace "reqired" with "*" */
.form-wrapper .field-list .description.required {
  visibility: hidden;
  font-size: 0!important;
}
.form-wrapper .field-list .description.required:after {
  visibility: visible;
  position: absolute;
  top: 10px;
  right: 0;
  content: '*' !important;
  font-weight: 600!important;
  font-size: 12px;
}
/*Lightbox Wrapper*/
.sqs-modal-lightbox-content .lightbox-inner .lightbox-content {
  border-radius: var(--global-radius);
  max-width: 600px;
  padding: var(--sqs-site-gutter);
}
@media screen and (max-width: 767px) {
  .sqs-modal-lightbox-content .lightbox-inner .lightbox-content {
    padding: var(--sqs-mobile-site-gutter) !important;
    border-radius: unset;
  }
}
/*Lightbox form title*/
.sqs-block-form-lightbox .form-title {
  font-weight: 500!important;
  letter-spacing: 0em!important;
}
.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .lightbox-close {
  top: var(--sqs-mobile-site-gutter) !important;
  right: var(--sqs-mobile-site-gutter) !important;
  border-radius: var(--global-radius);
  font-size: 0!important;
  padding: 10px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark) !important;
  background: var(--light) !important;
  font-family: var(--arrows) !important;
  transition: var(--trans) !important;
}
.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .lightbox-close:after {
  font-weight: 300!important;
  font-size: 26px;
  content: "×";
  margin-bottom: 3px!important;
  font-family: var(--inter) !important;
}
.sqs-modal-lightbox-content .lightbox-inner .lightbox-content .lightbox-close:hover {
  transition: var(--trans) !important;
  background: var(--dark) !important;
  color: var(--light) !important;
}
.sqs-modal-lightbox-content .form-submit-button {
  width: 100%!important;
}
.sqs-modal-lightbox-content .form-submit-button {
  width: 100%!important;
}
/*Accordion Title*/
.accordion-item__title {
  font-weight: 500!important;
  letter-spacing: 0.035em !important;
}
/*Accordion Item*/
.accordion-item {
  margin: 10px 0!important;
  border-radius: var(--global-radius) !important;
  -webkit-border-radius: var(--global-radius) !important;
  overflow: hidden!important;
  outline: 1px solid transparent!important;
  transition: var(--trans);
}
@media screen and (max-width: 767px) {
  .accordion-item {
    margin: 16px 0!important;
  }
}
.accordion-item:hover {
  outline: 1px solid var(--tweak-accordion-block-stroke-color) !important;
  transition: var(--trans);
}
/*Accordion Title Wrapper*/
.accordion-item__title-wrapper,
.accordion-item__description {
  background-color: var(--secondary-color) !important;
}
/*Adjust Spacing Mobile*/
@media screen and (max-width: 767px) {
  .accordion-item:first-child {
    margin-top: 0px!important;
  }
}
/*Accordion Plus Container*/
.accordion-icon-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: var(--tweak-accordion-block-stroke-color);
  padding: 5px;
  border-radius: 50px;
}
/*Accordion Plus*/
.plus {
  height: 10px !important;
  width: 10px !important;
  left: unset !important;
  top: unset !important;
}
/*Newsletter Form*/
.newsletter-form {
  display: flex!important;
  align-items: center!important;
}
/*Remove Header + Footnote*/
.newsletter-block .newsletter-form-header,
.newsletter-form-footnote {
  display: none;
}
/*Remove Padding, Margin, MinW*/
.newsletter-form-button-wrapper,
.newsletter-form-fields-wrapper,
.newsletter-form-field-wrapper,
.field.email.required,
.field.name.required {
  min-width: unset!important;
  margin: 0!important;
  padding: 0!important;
  -webkit-animation: 0.3s ease 0s normal forwards 1 flexload;
  animation: 0.3s ease 0s normal forwards 1 flexload;
}
/*FLOAT*/
/*Wrapper Alignment*/
.newsletter-form-wrapper--layoutFloat.newsletter-form-wrapper--alignCenter .newsletter-form {
  justify-content: center!important;
  align-items: center!important;
}
.newsletter-form-wrapper--layoutFloat.newsletter-form-wrapper--alignLeft .newsletter-form {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.newsletter-form-wrapper--layoutFloat.newsletter-form-wrapper--alignRight .newsletter-form {
  justify-content: flex-end !important;
  align-items: flex-end !important;
}
.newsletter-form-wrapper--layoutFloat {
  /*Newsletter Form Body*/
  /*Newsletter Button Wrapper*/
  /*Newsletter Button*/
}
.newsletter-form-wrapper--layoutFloat .newsletter-form-fields-wrapper,
.newsletter-form-wrapper--layoutFloat fieldset {
  display: flex!important;
}
@media screen and (min-width: 700px) {
  .newsletter-form-wrapper--layoutFloat .newsletter-form-fields-wrapper,
  .newsletter-form-wrapper--layoutFloat fieldset {
    flex-direction: row!important;
    gap: 10px!important;
  }
}
@media screen and (max-width: 700px) {
  .newsletter-form-wrapper--layoutFloat .newsletter-form-fields-wrapper,
  .newsletter-form-wrapper--layoutFloat fieldset {
    flex-direction: column!important;
    gap: 10px;
  }
}
.newsletter-form-wrapper--layoutFloat .newsletter-form-body {
  gap: 10px!important;
  padding: 0!important;
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .newsletter-form-wrapper--layoutFloat .newsletter-form-body {
    flex-direction: column!important;
    align-items: stretch!important;
    width: 100%!important;
    gap: 10px!important;
  }
}
.newsletter-form-wrapper--layoutFloat .newsletter-form-button-wrapper {
  left: 0!important;
  position: relative!important;
  height: 100%!important;
}
@media screen and (min-width: 700px) {
  .newsletter-form-wrapper--layoutFloat .newsletter-form-button-wrapper {
    left: 5px;
  }
}
.newsletter-form-wrapper--layoutFloat .newsletter-form-button {
  padding: 14px 20px!important;
  display: flex!important;
  position: relative!important;
  align-items: center!important;
  justify-content: center;
  border-radius: var(--global-radius) !important;
  transition: var(--trans) !important;
}
.newsletter-form-wrapper--layoutFloat .newsletter-form-button:before {
  border-radius: var(--global-radius) !important;
}
.newsletter-form-wrapper--layoutFloat .newsletter-form-button:hover {
  opacity: 1!important;
}
@media screen and (max-width: 700px) {
  .newsletter-form-wrapper--layoutFloat .newsletter-form-button {
    width: 100%!important;
  }
}
/*STACK*/
/*Align Wrppers*/
.newsletter-form-wrapper--layoutStack.newsletter-form-wrapper--alignCenter .newsletter-form {
  justify-content: center!important;
  align-items: center!important;
}
.newsletter-form-wrapper--layoutStack.newsletter-form-wrapper--alignLeft .newsletter-form {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.newsletter-form-wrapper--layoutStack.newsletter-form-wrapper--alignRight .newsletter-form {
  justify-content: flex-end !important;
  align-items: flex-end !important;
}
.newsletter-form-wrapper--layoutStack {
  /*Newsletter Form Body*/
  /*Form Field*/
  /*Button*/
}
.newsletter-form-wrapper--layoutStack .newsletter-form-fields-wrapper,
.newsletter-form-wrapper--layoutStack fieldset {
  max-width: unset!important;
  display: flex!important;
  flex-direction: column!important;
  gap: 5px;
}
.newsletter-form-wrapper--layoutStack .newsletter-form-body {
  text-align: center!important;
  padding: 0!important;
  width: 100%;
  max-width: 500px;
  position: relative;
  display: flex!important;
  align-items: stretch!important;
  flex-direction: column!important;
  gap: 8px;
  align-items: center;
}
.newsletter-form-wrapper--layoutStack .newsletter-form-field-wrapper {
  max-width: unset!important;
}
.newsletter-form-wrapper--layoutStack .newsletter-form-field-element {
  text-align: center!important;
}
.newsletter-form-wrapper--layoutStack .newsletter-form-button,
.newsletter-form-wrapper--layoutStack .newsletter-form-button-wrapper {
  border-radius: var(--global-radius) !important;
  margin: 0!important;
  width: 100%!important;
}
.newsletter-form-wrapper--layoutStack .newsletter-form-button {
  padding: 14px!important;
}
.newsletter-form-wrapper--layoutStack .newsletter-form-button:hover {
  opacity: 1!important;
}
/*Newsletter Field Styles*/
.sqs-block-newsletter .newsletter-form-field-element {
  min-width: 15rem!important;
  padding: 15px!important;
  border-radius: var(--global-radius) !important;
  border: none!important;
  -webkit-border-radius: var(--global-radius) !important;
  transition: var(--trans) !important;
  outline-offset: 3px;
  outline: 1px solid transparent;
}
.sqs-block-newsletter .newsletter-form-field-element::placeholder {
  opacity: 0.5;
}
.sqs-block-newsletter .newsletter-form-field-element:focus {
  outline: 1px solid var(--accent) !important;
}
@media screen and (max-width: 767px) {
  .sqs-block-newsletter .newsletter-form-field-element {
    text-align: center!important;
  }
}
/*Newsletter Field Styles BLACK*/
[data-section-theme="black"],
[data-section-theme="black-bold"] {
  /*Newsletter Button BLACK*/
}
[data-section-theme="black"] .sqs-block-newsletter .newsletter-form-field-element,
[data-section-theme="black-bold"] .sqs-block-newsletter .newsletter-form-field-element {
  background: var(--dark-bold);
  color: var(--white) !important;
}
[data-section-theme="black"] .sqs-block-newsletter .newsletter-form-field-element:focus,
[data-section-theme="black-bold"] .sqs-block-newsletter .newsletter-form-field-element:focus {
  outline: var(--a-border) !important;
}
[data-section-theme="black"] .sqs-block-newsletter .newsletter-form-field-element::placeholder,
[data-section-theme="black-bold"] .sqs-block-newsletter .newsletter-form-field-element::placeholder {
  color: var(--light) !important;
  opacity: 0.5;
}
[data-section-theme="black"] .newsletter-block .newsletter-form-button,
[data-section-theme="black-bold"] .newsletter-block .newsletter-form-button {
  background: var(--accent) !important;
}
[data-section-theme="black"] .newsletter-block .newsletter-form-button:hover,
[data-section-theme="black-bold"] .newsletter-block .newsletter-form-button:hover {
  background: var(--accent-bold) !important;
  color: var(--light) !important;
}
/*Newsletter Field Styles DARK*/
[data-section-theme="dark"],
[data-section-theme="dark-bold"] {
  /*Newsletter Button DARK*/
}
[data-section-theme="dark"] .sqs-block-newsletter .newsletter-form-field-element,
[data-section-theme="dark-bold"] .sqs-block-newsletter .newsletter-form-field-element {
  background: var(--black);
  border: var(--b-border) !important;
  color: var(--white) !important;
}
[data-section-theme="dark"] .sqs-block-newsletter .newsletter-form-field-element:focus,
[data-section-theme="dark-bold"] .sqs-block-newsletter .newsletter-form-field-element:focus {
  outline: var(--a-border) !important;
}
[data-section-theme="dark"] .sqs-block-newsletter .newsletter-form-field-element::placeholder,
[data-section-theme="dark-bold"] .sqs-block-newsletter .newsletter-form-field-element::placeholder {
  color: var(--light) !important;
  opacity: 0.5;
}
[data-section-theme="dark"] .newsletter-block .newsletter-form-button,
[data-section-theme="dark-bold"] .newsletter-block .newsletter-form-button {
  background: var(--accent) !important;
}
[data-section-theme="dark"] .newsletter-block .newsletter-form-button:hover,
[data-section-theme="dark-bold"] .newsletter-block .newsletter-form-button:hover {
  background: var(--accent-bold) !important;
  color: var(--light) !important;
}
/*Newsletter Field Styles ACCENT*/
[data-section-theme="bright"],
[data-section-theme="bright-inverse"] {
  /*Newsletter Button ACCENT*/
}
[data-section-theme="bright"] .sqs-block-newsletter .newsletter-form-field-element,
[data-section-theme="bright-inverse"] .sqs-block-newsletter .newsletter-form-field-element {
  background: var(--light);
  color: var(--black) !important;
}
[data-section-theme="bright"] .sqs-block-newsletter .newsletter-form-field-element:focus,
[data-section-theme="bright-inverse"] .sqs-block-newsletter .newsletter-form-field-element:focus {
  outline: var(--d-border) !important;
}
[data-section-theme="bright"] .sqs-block-newsletter .newsletter-form-field-element::placeholder,
[data-section-theme="bright-inverse"] .sqs-block-newsletter .newsletter-form-field-element::placeholder {
  color: var(--dark) !important;
  opacity: 0.4;
}
[data-section-theme="bright"] .newsletter-block .newsletter-form-button,
[data-section-theme="bright-inverse"] .newsletter-block .newsletter-form-button {
  color: var(--accent) !important;
  background: var(--dark) !important;
}
[data-section-theme="bright"] .newsletter-block .newsletter-form-button:hover,
[data-section-theme="bright-inverse"] .newsletter-block .newsletter-form-button:hover {
  background: var(--black) !important;
}
/*Newsletter Field Styles LIGHT*/
[data-section-theme="light"],
[data-section-theme="light-bold"] {
  /*Newsletter Button LIGHT*/
}
[data-section-theme="light"] .sqs-block-newsletter .newsletter-form-field-element,
[data-section-theme="light-bold"] .sqs-block-newsletter .newsletter-form-field-element {
  background: var(--white);
  color: var(--black) !important;
}
[data-section-theme="light"] .sqs-block-newsletter .newsletter-form-field-element:focus,
[data-section-theme="light-bold"] .sqs-block-newsletter .newsletter-form-field-element:focus {
  outline: var(--a-border) !important;
}
[data-section-theme="light"] .sqs-block-newsletter .newsletter-form-field-element::placeholder,
[data-section-theme="light-bold"] .sqs-block-newsletter .newsletter-form-field-element::placeholder {
  color: var(--dark) !important;
  opacity: 0.5;
}
[data-section-theme="light"] .newsletter-block .newsletter-form-button,
[data-section-theme="light-bold"] .newsletter-block .newsletter-form-button {
  background: var(--dark) !important;
}
[data-section-theme="light"] .newsletter-block .newsletter-form-button:hover,
[data-section-theme="light-bold"] .newsletter-block .newsletter-form-button:hover {
  background: var(--black) !important;
  color: var(--light) !important;
}
/*Newsletter Field Styles WHITE*/
[data-section-theme="white"],
[data-section-theme="white-bold"] {
  /*Newsletter Button WHITE*/
}
[data-section-theme="white"] .sqs-block-newsletter .newsletter-form-field-element,
[data-section-theme="white-bold"] .sqs-block-newsletter .newsletter-form-field-element {
  background: var(--light);
  color: var(--black) !important;
}
[data-section-theme="white"] .sqs-block-newsletter .newsletter-form-field-element:focus,
[data-section-theme="white-bold"] .sqs-block-newsletter .newsletter-form-field-element:focus {
  outline: var(--a-border) !important;
}
[data-section-theme="white"] .sqs-block-newsletter .newsletter-form-field-element::placeholder,
[data-section-theme="white-bold"] .sqs-block-newsletter .newsletter-form-field-element::placeholder {
  color: var(--dark) !important;
  opacity: 0.5;
}
[data-section-theme="white"] .newsletter-block .newsletter-form-button,
[data-section-theme="white-bold"] .newsletter-block .newsletter-form-button {
  background: var(--accent) !important;
}
[data-section-theme="white"] .newsletter-block .newsletter-form-button:hover,
[data-section-theme="white-bold"] .newsletter-block .newsletter-form-button:hover {
  background: var(--black) !important;
  color: var(--light) !important;
}
/*Show Carousel Titles*/
section.user-items-list-section {
  /*Allow Click on Image Link*/
  /*Make Arrows Container Smaller*/
  /*Make Arrow Icons Smaller*/
  /*Move Mobile Arrows to Left*/
  /*Remove Margin from Title*/
  /*Title and Description Side by side*/
  /*Description – Date*/
}
section.user-items-list-section .animation-segment-parent-hidden {
  opacity: 1!important;
  margin: 0!important;
}
section.user-items-list-section .list-item {
  pointer-events: unset;
}
section.user-items-list-section .user-items-list-carousel__arrow-button {
  height: 40px;
  width: 40px;
}
section.user-items-list-section .user-items-list-carousel__arrow-icon {
  height: 22px;
  width: 22px;
}
section.user-items-list-section .user-items-list-carousel .mobile-arrows {
  justify-content: left!important;
}
section.user-items-list-section .user-items-list-carousel .list-item-content__title {
  margin: 0!important;
}
section.user-items-list-section .list-item-content__text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.user-items-list-section .list-item-content__description {
  font-size: 12px!important;
  text-align: unset!important;
  margin: 0!important;
}
/*MAKE CAROUSEL CLICKABLE*/
.user-items-list {
  /*List Item Button Container*/
  /*List Item Button*/
}
.user-items-list li.list-item {
  position: relative !important;
}
.user-items-list .list-item-content__button-container {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0!important;
}
.user-items-list a.list-item-content__button.sqs-block-button-element {
  cursor: pointer!important;
  color: transparent!important;
  padding: 0;
  border: none!important;
  position: absolute;
  border-radius: unset!important;
  padding: unset!important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  color: transparent !important;
  background-color: transparent !important;
}
/*Allow Click on Image Link*/
.list-item {
  pointer-events: unset;
}
.user-items-list-carousel__media-inner img {
  transform: scale(1) !important;
  transition: var(--trans) !important;
}
.user-items-list-carousel__slide.list-item:hover img {
  transform: scale(1.05) !important;
  transition: var(--trans) !important;
}
/*Content Align Bottom: Card*/
section.vertical-alignment--bottom {
  z-index: 100!important;
}
section.vertical-alignment--bottom .content-wrapper {
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  margin-top: calc(25.8px*-2) !important;
  margin-bottom: calc(25.8px*-2) !important;
  border-radius: 30px;
  margin: 0 auto;
  max-width: var(--sqs-site-max-width);
}
/*Rounded Section Tops*/
section.vertical-alignment--top {
  /*Move Section Content Up*/
}
section.vertical-alignment--top .section-background {
  top: calc(25.8px*-2) !important;
  z-index: 1!important;
  border-radius: 50px 50px 0px 0px!important;
}
section.vertical-alignment--top .content-wrapper {
  z-index: 1!important;
}
/*Inset Sections Mobile + Tab*/
.tweak-blog-basic-grid-width-inset .blog-basic-grid,
.tweak-portfolio-grid-basic-height-custom .portfolio-grid-basic,
.tweak-products-width-inset .products.collection-content-wrapper,
.tweak-events-stacked-height-medium .events {
  padding-left: 0!important;
  padding-right: 0!important;
  margin: 0 auto!important;
}
/*Inset Sections Mobile + Tab*/
@media screen and (max-width: 1250px) {
  .tweak-blog-basic-grid-width-inset .blog-basic-grid,
  .tweak-portfolio-grid-basic-height-custom .portfolio-grid-basic,
  .tweak-products-width-inset .products.collection-content-wrapper,
  .tweak-events-stacked-height-medium .events {
    padding-left: var(--sqs-site-gutter) !important;
    padding-right: var(--sqs-site-gutter) !important;
    margin: var(--sqs-site-gutter) auto !important;
  }
}
/*Inset Sections Mobile + Tab*/
@media screen and (max-width: 767px) {
  .tweak-blog-basic-grid-width-inset .blog-basic-grid,
  .tweak-portfolio-grid-basic-height-custom .portfolio-grid-basic,
  .tweak-products-width-inset .products.collection-content-wrapper,
  .tweak-events-stacked-height-medium .events {
    padding-left: var(--sqs-mobile-site-gutter) !important;
    padding-right: var(--sqs-mobile-site-gutter) !important;
    margin: var(--sqs-mobile-site-gutter) auto !important;
  }
}
